@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap&subset=latin-ext');
@import 'mixins';

$primary: #FFFFFF;
$secondary: #00FFED;
$tetriary: #FF00DC;
$background: #eceff1;
$text: #121212;



body{
  margin: 0;
  background: $background;
  font-family: 'Karla', sans-serif;
  color: $text;
  @extend %flex-center;
  align-items: flex-start;
}

h1{
  color: $primary;
}

@import 'nav';
@import 'home';

#lorem {
  position: absolute;
  top: 1000px;
}

#pixi {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}